<% provide(:title, "Hall of Fame")%>
<div class="container">
    <div class="row">
        <ul class="tabs">
            <li class="tab col s6"><a href="#Boys">Boys</a></li>
            <li class="tab col s6"><a href="#Girls">Girls</a></li>
        </ul>
    </div>
    <div id="Boys">
        <div class="row">
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">100m</span>
                        <p>Harold Manning of ISB</p>
                        <p>10.93 seconds</p>
                        <p>Set in 1999</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title">200m</span>
                        <p>Harold Manning of ISB</p>
                        <p>21.87 seconds</p>
                        <p>Set in 2000</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title">400m</span>
                        <p>Harold Manning of ISB</p>
                        <p>49.34 seconds</p>
                        <p>Set in 2001</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "JIS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">800m</span>
                        <p>Robert Koehlmoos of JIS</p>
                        <p>49.34 seconds</p>
                        <p>Set in 2000</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "JIS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">1500m</span>
                        <p>Aiden Kinney of JIS</p>
                        <p>4:09.51 minutes</p>
                        <p>Set in 2014</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "JIS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">3000m</span>
                        <p>Ernest Bethe IV of JIS</p>
                        <p>9:17.60 minutes</p>
                        <p>Set in 2015</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">110m Hurdles</span>
                        <p>Baron Witherspoon</p>
                        <p>14.89 seconds</p>
                        <p>Set in 2008</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "JIS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">400m Hurdles</span>
                        <p>Angus Proudfoot of JIS</p>
                        <p>56.00 seconds</p>
                        <p>Set in 2015</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISKL.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">High Jump</span>
                        <p>Mike Dixon of ISKL</p>
                        <p>1.95 meters</p>
                        <p>Set in 1996</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISKL.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Long Jump</span>
                        <p>Mike Dixon of ISKL</p>
                        <p>7.05 meters</p>
                        <p>Set in 1997</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISKL.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Triple Jump</span>
                        <p>Mike Dixon of ISKL</p>
                        <p>13.66 meters</p>
                        <p>Set in 1997</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISM.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Shotput</span>
                        <p>Nando Dobroke of ISM</p>
                        <p>16.34 meters</p>
                        <p>Set in 1984</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "TAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Discus</span>
                        <p>Steve Porter of TAS</p>
                        <p>45.22 meters</p>
                        <p>Set in 1995</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Javelin</span>
                        <p>Bryce Berkompas of ISB</p>
                        <p>61.20 meters</p>
                        <p>Set in 1997</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISM.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">4x100m Relay</span>
                        <p>Kobayashi, Theuer, McIntyre & Woldring of ISM</p>
                        <p>43.70 seconds</p>
                        <p>Set in 2013</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">4x400m Relay</span>
                        <p>Grundy, McMillan, Womack & Lonergan of SAS</p>
                        <p>3:27.14 minutes</p>
                        <p>Set in 1999</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">4x800m Relay</span>
                        <p>Fiero, Nealon, Nealon & Hansen of SAS</p>
                        <p>8:13.55 minutes</p>
                        <p>Set in 1991</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">1600m Medley Relay</span>
                        <p>Hasagawa, Donohue, Hanson & Nealon of SAS</p>
                        <p>3:34.84 minutes</p>
                        <p>Set in 1991</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Girls">
        <div class="row">
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">100m</span>
                        <p>Taniasha Fraser of ISB</p>
                        <p>12.32 seconds</p>
                        <p>Set in 1994</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title">200m</span>
                        <p>Taniasha Fraser of ISB</p>
                        <p>12.32 seconds</p>
                        <p>Set in 1994</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title">400m</span>
                        <p>Jenny Melsom of SAS</p>
                        <p>57.20 seconds</p>
                        <p>Set in 2001</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">800m</span>
                        <p>Gracie Georgi of SAS</p>
                        <p>2:19.30 minutes</p>
                        <p>Set in 2015</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">1500m</span>
                        <p>Gracie Georgi of SAS</p>
                        <p>4:54.38 minutes</p>
                        <p>Set in 2015</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISM.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">3000m</span>
                        <p>Molly Bailey of ISM</p>
                        <p>10:24.80 minutes</p>
                        <p>Set in 2015</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">100m Hurdles</span>
                        <p>Amelie Iuel of ISB</p>
                        <p>15.50 seconds</p>
                        <p>Set in 2012</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">400m Hurdles</span>
                        <p>Amelie Iuel of ISB</p>
                        <p>1:03.09 minute</p>
                        <p>Set in 2012</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">High Jump</span>
                        <p>Amelie Iuel of ISB</p>
                        <p>1.70 meters</p>
                        <p>Set in 2012</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "JIS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Long Jump</span>
                        <p>Amelia Clark of JIS</p>
                        <p>5.42 meters</p>
                        <p>Set in 2006</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "JIS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Triple Jump</span>
                        <p>Amelia Clark of JIS</p>
                        <p>11.05 meters</p>
                        <p>Set in 2007</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Shotput</span>
                        <p>Emma Grady of SAS</p>
                        <p>10.75 meters</p>
                        <p>Set in 2011</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "JIS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Discus</span>
                        <p>Moana Kiwala of JIS</p>
                        <p>33.02 meters</p>
                        <p>Set in 2001</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Javelin</span>
                        <p>Amanda Giles of ISB</p>
                        <p>37.89 meters</p>
                        <p>Set in 2013</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">4x100m Relay</span>
                        <p>Patra-Yanan, Giles, Iuel & Henderson of ISB</p>
                        <p>50.48 seconds</p>
                        <p>Set in 2012</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">4x400m Relay</span>
                        <p>Malmberg, Juliano, Koncki & Subrahmanian of SAS</p>
                        <p>4:11.51 minutes</p>
                        <p>Set in 2013</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "SAS.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">4x800m Relay</span>
                        <p>Hohensee, Alberts, Kim & Lydens of SAS</p>
                        <p>9:48.00 minutes</p>
                        <p>Set in 2009</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l3">
                <div class="card hoverable">
                    <div class="card-image hide-on-med-and-down">
                        <%= image_tag "ISB.png"%>
                    </div>
                    <div class="card-content">
                        <span class="card-title">1600m Medley Relay</span>
                        <p>Patra-Yanan, Giles, Iuel & Henderson of ISB</p>
                        <p>4:21.60 minutes</p>
                        <p>Set in 2012</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>