<% provide(:title, "Profiles")%>
<div class = "row">
    <div class = "col-md-12">
        <div id="tas" class="col-md-12">
        <% @profiles.each do |profile| %>
            <% if profile.school == "TAS"%>
                <div class="col-md-3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src= "<%= profile.image_url %>" >
                            <span class="card-title"><%= profile.name%></span>
                        </div>
                        <div class="card-content">
                            <p>Information about player</p>
                            <p>Email: <%= profile.email %> </p>
                            <p>ID: <%= profile.id %> </p>
                            <p>Events: 
                                <ul>
                                    <% unless profile.events == nil %>
                                        <% profile.events.split.each do |e| %>
                                            <li> <%= e %> </li>
                                        <% end %>
                                    <% end%>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>        
        </div>
         <div id="ism" class="col-md-12">
        <% @profiles.each do |profile| %>
            <% if profile.school == "ISM"%>
                <div class="col-md-3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src= "<%= profile.image_url %>" >
                            <span class="card-title"><%= profile.name%></span>
                        </div>
                        <div class="card-content">
                            <p>Information about player</p>
                            <p>Email: <%= profile.email %> </p>
                            <p>ID: <%= profile.id %> </p>
                            <p>Events: 
                                <ul>
                                    <% unless profile.events == nil %>
                                        <% profile.events.split.each do |e| %>
                                            <li> <%= e %> </li>
                                        <% end %>
                                    <% end%>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>        
        </div>
        <div id="iskl" class="col-md-12">
        <% @profiles.each do |profile| %>
            <% if profile.school == "ISKL" && profile.role == "athlete"%>
                <div class="col-md-3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src= "<%= profile.image_url %>" >
                            <span class="card-title"><%= profile.name%></span>
                        </div>
                        <div class="card-content">
                            <p>Information about player</p>
                            <p>Email: <%= profile.email %> </p>
                            <p>ID: <%= profile.id %> </p>
                            <p>Events: 
                                <ul>
                                    <% unless profile.events == nil %>
                                        <% profile.events.split.each do |e| %>
                                            <li> <%= e %> </li>
                                        <% end %>
                                    <% end%>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>        
        </div>
        <div id="isb" class="col-md-12">
        <% @profiles.each do |profile| %>
            <% if profile.school == "ISB" && profile.role == "athlete"%>
                <div class="col-md-3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src= "<%= profile.image_url %>" >
                            <span class="card-title"><%= profile.name%></span>
                        </div>
                        <div class="card-content">
                            <p>Information about player</p>
                            <p>Email: <%= profile.email %> </p>
                            <p>ID: <%= profile.id %> </p>
                            <p>Events: 
                                <ul>
                                    <% unless profile.events == nil %>
                                        <% profile.events.split.each do |e| %>
                                            <li> <%= e %> </li>
                                        <% end %>
                                    <% end%>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>        
        </div>
        <div id="sas" class="col-md-12">
        <% @profiles.each do |profile| %>
            <% if profile.school == "SAS"%>
                <div class="col-md-3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src= "<%= profile.image_url %>" >
                            <span class="card-title"><%= profile.name%></span>
                        </div>
                        <div class="card-content">
                            <p>Information about player</p>
                            <p>Email: <%= profile.email %> </p>
                            <p>ID: <%= profile.id %> </p>
                            <p>Events: 
                                <ul>
                                    <% unless profile.events == nil %>
                                        <% profile.events.split.each do |e| %>
                                            <li> <%= e %> </li>
                                        <% end %>
                                    <% end%>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>        
        </div>
         <div id="jis" class="col-md-12">
        <% @profiles.each do |profile| %>
            <% if profile.school == "JIS" && profile.role == "athlete"%>
                <div class="col-md-3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src= "<%= profile.image_url %>" >
                            <span class="card-title"><%= profile.name%></span>
                        </div>
                        <div class="card-content">
                            <p>Information about player</p>
                            <p>Email: <%= profile.email %> </p>
                            <p>ID: <%= profile.id %> </p>
                            <p>Events: 
                                <ul>
                                    <% unless profile.events == nil %>
                                        <% profile.events.split.each do |e| %>
                                            <li> <%= e %> </li>
                                        <% end %>
                                    <% end%>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>        
        </div>
    </div>
</div>
