<% provide(:title, "Profiles")%>

    <body>
        <div class="row">
            <%= render 'layouts/profile' %>
            <%= render 'layouts/profile' %>
            <%= render 'layouts/profile' %>
            <%= render 'layouts/profile' %>
        </div>
        <div class="row">
            <%= render 'layouts/profile' %>
            <%= render 'layouts/profile' %>
            <%= render 'layouts/profile' %>
            <%= render 'layouts/profile' %>
        </div>
        <div class="row">
            <%= render 'layouts/profile' %>
            <%= render 'layouts/profile' %>
            <%= render 'layouts/profile' %>
            <%= render 'layouts/profile' %>
        </div>
    </body>