
<% provide(:title, "Schedule")%>
    <div class="container">
        <div class="row">
            <div class="col s12 l12">
                <h4>Day 1</h4>
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>3000m Boys <div class="right">Event Starts At: <%= Event.find(3).mtime %></div></div>
                        <div class="collapsible-body">
                            <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 3%>
                            <% @users.each do |u| %>
                                <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>3000m Girls <div class="right">Event Starts At: <%= Event.find(3).ftime %></div></div>
                        <div class="collapsible-body"><div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 3 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Javelin Girls <div class="right">Event Starts At: <%= Event.find(21).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 21 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Triple Jump Boys <div class="right">Event Starts At: <%= Event.find(5).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 5 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>100m Boys Prelims <div class="right">Event Starts At: <%= Event.find(1).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 1 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>100m Girls Prelims <div class="right">Event Starts At: <%= Event.find(1).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 1 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>400m Hurdles Boys <div class="right">Event Starts At: <%= Event.find(6).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 6 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>400m Hurdles Girls <div class="right">Event Starts At: <%= Event.find(6).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 6 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>200m Girls Prelims <div class="right">Event Starts At: <%= Event.find(2).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 2 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Shot Put Boys <div class="right">Event Starts At: <%= Event.find(7).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 7 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>High Jump Girls <div class="right">Event Starts At: <%= Event.find(8).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 8 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>200m Boys Prelims <div class="right">Event Starts At: <%= Event.find(2).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 2 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>4x800m Relay Boys <div class="right">Event Starts At: <%= Event.find(9).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 9 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>4x800m Relay Girls <div class="right">Event Starts At: <%= Event.find(9).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 9 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>4x100m Relay Boys <div class="right">Event Starts At: <%= Event.find(10).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 10 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>4x100m Relay Girls <div class="right">Event Starts At: <%= Event.find(10).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 10 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l12">
                <h4>Day 2</h4>
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>100m Hurdles Girls Prelims <div class="right">Event Starts At: <%= Event.find(11).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 11 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Long Jump Boys <div class="right">Event Starts At: <%= Event.find(12).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 12 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Discus Girls <div class="right">Event Starts At: <%= Event.find(13).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 13 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>110m Hurdles Boys Prelims <div class="right">Event Starts At: <%= Event.find(14).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 14 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>400m Girls Prelims <div class="right">Event Starts At: <%= Event.find(22).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 22 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>400m Boys Prelims <div class="right">Event Starts At: <%= Event.find(22).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 22 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>200m Girls Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>200m Boys Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>400m Girls Hurdles Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Discus Boys <div class="right">Event Starts At: <%= Event.find(13).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 13 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>400m Boys Hurdles Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Triple Jump Girls</div>
                        <div class="collapsible-body"></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>800m Girls Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>800m Boys Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>1600m Medley Relay Girls <div class="right">Event Starts At: <%= Event.find(18).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 18 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>1600m Medley Relay Boys <div class="right">Event Starts At: <%= Event.find(18).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 18 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l12">
                <h4>Day 3</h4>
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>100m Hurdles Girls Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Shot Put Girls <div class="right">Event Starts At: <%= Event.find(7).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 7 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>High Jump Boys <div class="right">Event Starts At: <%= Event.find(8).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 8 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Long Jump Girls <div class="right">Event Starts At: <%= Event.find(17).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 17 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>110m Boys Hurdles Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>400m Girls Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>400m Boys Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Javelin Boys <div class="right">Event Starts At: <%= Event.find(21).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 21 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>1500m Girls <div class="right">Event Starts At: <%= Event.find(20).ftime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 20 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Female" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>1500m Boys <div class="right">Event Starts At: <%= Event.find(20).mtime %></div></div>
                        <div class="collapsible-body">
                        <div class="row">
                            <% @userevents.each do |ue| %>
                            <% if ue.event_id == 20 %>
                            <% @users.each do |u| %>
                            <% if u.id == ue.user_id && u.gender.strip == "Male" %>
                                <div class="col s12 l4">
                                    <div class="card">
                                        <div class="card-image">
                                            <%= image_tag u.avatar.url(:thumbnail) %>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title"><%= u.name %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <% end %>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>100m Girls Finals</div>       
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>100m Boys Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>4x400m Relay Girls Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>4x400 Relay Boys Finals</div>
                        <div class="collapsible-body"> TBA </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>