<% provide(:title, "News")%>
<div class="container">
    <div class="row">
        <% @articles.each do |article| %>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <%= image_tag article.image.url %>
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4"><%= article.title %></span>
                </div>
                <div class="card-action">
                    <%= link_to "Read More", article %>
                    <% if current_user %>
                    <% if current_user.perms == "journalist" %>
                    <%= link_to edit_article_path(article) do %>
                    <i class="material-icons right">input</i>
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
<% if current_user %>
<% if current_user.perms == "journalist" %>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to new_article_path, class: "btn-floating orange" do %>
        <i class="large material-icons">mode_edit</i>
    <% end %>
</div>
<% end %>
<% end %>