<% provide(:title, "Profile")%>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-image">
                    <%= image_tag current_user.avatar.url(:small) %>
                </div>
                <div class="card-content">
                    <span class="card-title">User Profile</span>
                    <% if current_user %>
                        <p> Name:
                            <%= current_user.name %>
                        </p>
                         <p> Email:
                            <%= current_user.email %>
                        </p>
                        <% if current_user.perms == "athlete" %>
                        <p> Events:
                            <%= current_user.events %>
                        </p>
                        <% end %>
                        <% else %>
                            <p> Please sign in </p>
                        <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
     <%= link_to edit_user_path(current_user), class: "btn-floating btn-large red" do %> 
        <i class="large material-icons">mode_edit</i>
     <% end %>
</div>